<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
	</dict>
	<key>appleId</key>
	<string>357213063@qq.com</string>
	<key>artistId</key>
	<integer>1114446350</integer>
	<key>artistName</key>
	<string>li tang</string>
	<key>bundleDisplayName</key>
	<string>辣椒直播</string>
	<key>bundleShortVersionString</key>
	<string>3.13.2</string>
	<key>bundleVersion</key>
	<string>1.1</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountStoreFront</key>
			<string>143465-19,32 ab:LFw65Yc0</string>
			<key>AppleID</key>
			<string>357213063@qq.com</string>
			<key>DSPersonID</key>
			<integer>1849212638</integer>
			<key>DownloaderID</key>
			<integer>0</integer>
			<key>FamilyID</key>
			<integer>0</integer>
			<key>FirstName</key>
			<string>洪君</string>
			<key>LastName</key>
			<string>刘</string>
			<key>PurchaserID</key>
			<integer>1849212638</integer>
			<key>UserName</key>
			<string>刘洪君</string>
		</dict>
		<key>purchaseDate</key>
		<string>2016-12-06T14:24:04Z</string>
	</dict>
	<key>copyright</key>
	<string>© Li Tang</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>健康健美</string>
	<key>genreId</key>
	<integer>6013</integer>
	<key>itemId</key>
	<integer>1114446351</integer>
	<key>itemName</key>
	<string>辣椒直播-夜色寂寞视频真人直播秀场</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>li tang</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2016-12-06T14:24:04Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.GAMBLING_CONTESTS , 偶尔/轻微的亵渎或低俗幽默 , 无限制网页访问 and 偶尔/轻微的成人/性暗示题材</string>
		<key>label</key>
		<string>17+</string>
		<key>rank</key>
		<integer>600</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2016-06-03T20:02:16Z</string>
	<key>s</key>
	<integer>143465</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a419.phobos.apple.com/us/r30/Purple71/v4/7c/5e/de/7c5ede3f-c33a-58d9-ae52-900f3fc9bd02/icon114x114.jpeg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>yiqiyueba.pajia.com.xwj</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>818844409</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>817413473</integer>
		<integer>817744677</integer>
		<integer>817838093</integer>
		<integer>818844409</integer>
	</array>
	<key>storeCohort</key>
	<string>5|date=1481032800000&amp;sf=143465&amp;pgtp=Search&amp;prpg=Search&amp;ctxt=Search</string>
	<key>userName</key>
	<string>刘洪君</string>
	<key>vendorId</key>
	<integer>118212832</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
