<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>请开启定位服务！若不开启，将无法获取附近直播！</string>
    <key>DTPlatformVersion</key>
    <string>10.0</string>
    <key>DTSDKBuild</key>
    <string>14A345</string>
    <key>CFBundleIcons~ipad</key>
    <dict/>
    <key>NSSiriUsageDescription</key>
    <string>访问Siri</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>访问相机</string>
    <key>CFBundleDisplayName</key>
    <string>辣椒直播</string>
    <key>DTXcodeBuild</key>
    <string>8A218a</string>
    <key>NSRemindersUsageDescription</key>
    <string>访问提醒事项</string>
    <key>CFBundleIdentifier</key>
    <string>yiqiyueba.pajia.com.xwj</string>
    <key>UIFileSharingEnabled</key>
    <false/>
    <key>LSApplicationCategoryType</key>
    <string></string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>weibosdk2.5</string>
      <string>weibosdk</string>
      <string>sinaweibo</string>
      <string>sinaweibohd</string>
      <string>alipay</string>
      <string>alipayshare</string>
      <string>mqq</string>
      <string>mqzone</string>
      <string>mqqwpa</string>
      <string>mqqapi</string>
      <string>wtloginmqq2</string>
      <string>mqqopensdkapiV3</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>mqzoneopensdkapiV2</string>
      <string>mqzoneopensdkapi19</string>
      <string>mqzoneopensdkapi</string>
      <string>mqzoneopensdk</string>
      <string>mqqapi</string>
      <string>mqq</string>
      <string>wtloginmqq2</string>
      <string>mqqopensdkapiV3</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>weixin</string>
      <string>wechat</string>
    </array>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIcons</key>
    <dict/>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSHealthUpdateUsageDescription</key>
    <string>访问健康</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>是否允许访问蓝牙外设</string>
    <key>NSVideoSubscriberAccountUsageDescription</key>
    <string>访问TV</string>
    <key>MinimumOSVersion</key>
    <string>7.0</string>
    <key>CFBundleIconFiles</key>
    <array>
      <string>Icon@2x.png</string>
      <string>Icon.png</string>
      <string>Icon-72.png</string>
      <string>Icon-120.png</string>
      <string>icon-60.png</string>
      <string>icon-60@2x.png</string>
      <string>Icon-76.png</string>
      <string>Icon-152.png</string>
    </array>
    <key>CFBundleName</key>
    <string>辣椒直播</string>
    <key>CFBundleShortVersionString</key>
    <string>3.13.2</string>
    <key>UIStatusBarHidden</key>
    <false/>
    <key>UILaunchImageFile</key>
    <string>LaunchImage</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>remote-notification</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIAppFonts</key>
    <array>
      <string>fzltxh_gbk.ttf</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>shehui</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
    </array>
    <key>channelVersion</key>
    <string>166</string>
    <key>NSHealthShareUsageDescription</key>
    <string>访问健康分享</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>访问语音识别</string>
    <key>NSLocationUsageDescription</key>
    <string>访问位置</string>
    <key>BuildMachineOSBuild</key>
    <string>15F34</string>
    <key>NSCalendarsUsageDescription</key>
    <string>访问日历</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>访问麦克风</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>请开启定位服务！若不开启，将无法获取附近直播！</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleVersion</key>
    <string>1.1</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>weixin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wx6a4a6f2cfdb5b90d</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>yiqipajia</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>yiqiyueba.pajia.com</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>QQ</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent1101957324</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.weibo</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wb2299223366</string>
        </array>
      </dict>
    </array>
    <key>DTSDKName</key>
    <string>iphoneos10.0</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>NSContactsUsageDescription</key>
    <string>访问通讯录</string>
    <key>DTPlatformBuild</key>
    <string>14A345</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>访问相册</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>DTXcode</key>
    <string>0800</string>
  </dict>
</plist>
